@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

#svg-map #rs path{
    fill: rgb(0, 220, 228);
}

#svg-map #sc path{
    fill: rgb(239, 172, 2);
}

#svg-map #pr path{
    fill: rgb(239, 172, 2);
}

#svg-map #sp path{
    fill: rgb(239, 172, 2);
}

#svg-map #mg path{
    fill: rgb(239, 172, 2);
}

#svg-map #rj path{
    fill: rgb(239, 172, 2);
}

#svg-map #es path{
    fill: rgb(239, 172, 2);
}
#svg-map #go path{
    fill: rgb(24, 176, 7);
}

#svg-map #ms path{
    fill: rgb(24, 176, 7);
}

#svg-map #mt path{
    fill: rgb(24, 176, 7);
}

#svg-map #to path{
   fill: rgb(24, 176, 7);
}

#svg-map #ma path{
   fill: rgb(24, 176, 7);
}


#svg-map #df path{
    fill: rgb(24, 176, 7);
}

#svg-map #pi path{
    fill: rgb(188, 5, 5);
}

#svg-map #ce path{
    fill: rgb(188, 5, 5);
}

#svg-map #rn path{
    fill: rgb(188, 5, 5);
}

#svg-map #al path{
    fill: rgb(188, 5, 5);
}

#svg-map #pe path{
    fill: rgb(188, 5, 5);
}

#svg-map #se path{
    fill: rgb(188, 5, 5);
}

#svg-map #ba path{
    fill: rgb(188, 5, 5);
}

#svg-map #pb path{
    fill: rgb(188, 5, 5);
}

#svg-map #ro path{
    fill: rgb(9, 55, 6);
}

#svg-map #ac path{
    fill: rgb(9, 55, 6);
}

#svg-map #am path{
    fill: rgb(9, 55, 6);
}

#svg-map #rr path{
    fill: rgb(9, 55, 6);
}

#svg-map #pa path{
    fill: rgb(9, 55, 6);
}

#svg-map #ap path{
    fill: rgb(9, 55, 6);
}

#svg-map {
    cursor: pointer;
}


#svg-map a:hover .circle, #svg-map a:hover path {
    fill: rgb(9, 55, 6);
}
